<div class = "panel panel-primary">
  <div class = "panel-heading">
<h3>
  Introduction
</h3>
</div>
<div class = "panel-body">
  <div class="pull-right">
  <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/12208259_1038134766217444_8964392068921833204_n.jpg?oh=8d0512127fc40ffecb868aa57ac99a47&oe=584EC26D"  class="img-circle" alt="Cinque Terre" width="304" height="236">
</div>
      <h1>Mayank Badika</h1>
      <p>Technology has been the best ever gift to mankind and I believe in using technology to transform our lives hence, I am pursuing a career in Information Systems at the David Eccles School of Business,University of Utah studying Masters of Science in Information Systems specializing in  software development and business analytics.
Passionate about technology emerging trends and using technology to transform lives.</p>
<div align="center">
<a href="https://www.facebook.com/mayank.badika" target="_blank"><button type="button" class="btn btn-primary">Facebook</button></a>
<a href="https://www.linkedin.com/in/mayankbadika" target="_blank"><button type="button" class="btn btn-primary">LinkedIn</button></a>

   </div>
 </div>
</div>
