<div class = "panel panel-primary">
  <div class = "panel-heading">
<h3>
  Favorite Movie
</h3>
</div>
<div class = "panel-body">
  <div class="pull-right">
  <img src="http://image.tmdb.org/t/p/w500/{{poster_path}}"  class="img-rounded" alt="Cinque Terre" width="304" height="450">
  </div>
  <h3>
{{title}}({{release_date| date : "y" }})
</h3>

<p><b>{{overview}}</b></p>
<h4>Rating:{{vote_average}}/10</h4>

<iframe class="embed-responsive-item" width="510" height="300" src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
<iframe  class="embed-responsive-item" width="510" height="300" src="https://www.youtube.com/embed/R4AXlfwT9oM" frameborder="0" allowfullscreen></iframe>

</div>
</div>
